name: learn-github-actions
run-name: ${{ github.actor }} is learning Github Actions 
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v3 
      - uses: actions/setup-node@v3
        with: 
          node-version: '14'
      - run: npm install -g bats 
      - run: bats -v     
      - shell: bash
        run: |
          touch index.txt
      - run: echo "file was created!"
  runscript:
    name: execute bash script
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Call a Bash Script
        run: |
          chmod +x ./while.sh 
          sh ./while.sh 
        shell: bash  
